.header {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  line-height: 2;
  font-size: 140%;
  flex-direction: column;
  text-align: center;
  background-color: #f2e9d8;
  color: #183248;
  height: 7rem;
}

.item_imagem {
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  border-radius: 100%;
  max-width: 13rem;
  height: 13rem
}

.topicos {
  display: flex;
  justify-content: center;
  text-justify: center;
  justify-items: center;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 4rem;
  align-items: center;
}

.titulo_descricao {
  font-family: "Montserrat";
  margin-left: 3rem;
  line-height: 1.25rem;
  color: #34548c;
  width: 40rem;
}

.tamanho_categoria {
  font-size: 3rem;
  line-height: 2.5rem;
}
.body {
  display:flex;
  font-family: "Lora", sans-serif;
  background-color: #f2e9d8;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.link{
  color: #183248;
}

@media (max-width: 68rem) {
  .header {
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .topicos {
    margin-top: 2rem;
  }
  .item {
    flex-direction: column;
    text-align: center;
  }

  .intro {
    margin-top: 2rem;
  }

  .item_imagem {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
  }

  .titulo_descricao {
    font-family: "Montserrat";
    margin-left: 0;
    line-height: 1.25rem;
    color: #34548c;
    align-items: left;
    text-align: left;
  }

  .item_paragrafo{
    max-width: 10rem;

  }
}
