.header{
	margin-top: 2rem;
	display: flex;
	justify-content: center 
}

.topicos{
	display: flex;

}

.intro{

	display: flex;
	justify-content: center;
	border-style: solid;
}

.item{
	display:flex;
	flex-direction: row;
	margin:3rem;

}

.titulo_descricao{
	margin-left: 2rem;
}


body{
	font-family:"Montserrat", sans-serif;
}