.garota {
  width: 11rem;
  height: 11rem;
  margin-top: 3rem;
  border-radius: 100%;
}
.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pessoa {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posicao_nome {
  font-family: "Lora";
  font-size: 2rem;
  line-height: 3rem;
  color: #183248;
}

.descricao {
  width: 20rem;
  text-align: center;
  line-height: 1.5rem;
  color: #2e5574;
}
.inline_faixa {
  display: flex;
  justify-content: space-between;
}

.faixa_preta {
  background-color: #a53e03;
  width: 48%;
  height: 0.05rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.div_categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.categoria_imagem {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin-top: 2rem;
  background-color: white;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.a_categoria{
  opacity:0;
  position:relative;
  font-weight: 3rem;
  color:#a53e03;
  left:3rem;
  top:-11rem;
  font-size:3rem;
  width:15rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.alinhamento:hover .categoria_imagem{
  opacity:0.5;
  background-color: white;
}

.alinhamento:hover .a_categoria{
  opacity:1;
  background-color: white;

}


.categorias {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom:3rem;
}
.palavra_categoria {
  margin: 3rem;
  font-family: "Lora";
  font-size: 2rem;
  align-items: center;
  color: #2e5574;
}

.alinhamento{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.body {
  font-family: "Montserrat";
  background-color: #f2e9d8;
}

.nome_categoria{
  font-size: 1rem;
  color:#183248;
  display:show;
}

@media (max-width: 66rem){
  .posicao_nome {

  font-size: 1.5rem;
}
.garota {
  width: 11rem;
  height: 11rem;
  margin-top: 3rem;
  border-radius: 100%;
}

.categoria_imagem{
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  opacity:1;
}

.categorias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.a_categoria{
  display:show;
  opacity:1;
  position:relative;
  font-weight: 3rem;
  color:#a53e03;
  left:1rem;
  top:-5rem;
  font-size:1rem;
  width:6rem;
  background-color: white;
  

}
}
