.garota {
  width: 50%;
  margin-top: 5rem;
}
.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pessoa {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posicao_nome {
  font-family: "Lora";
  font-size: 2rem;
  line-height: 3rem;
  color: #183248;
}

.descricao {
  width: 20rem;
  text-align: center;
  line-height: 1.5rem;
  color: #2e5574;
}
.inline_faixa {
  display: flex;
  justify-content: space-between;
}

.faixa_preta {
  background-color: #a53e03;
  width: 48%;
  height: 0.05rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.div_categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria_imagem {
  width: 80%;
}

.categorias {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.palavra_categoria {
  margin: 3rem;
  font-family: "Lora";
  font-size: 1.5rem;
  color: #2e5574;
}

.alinhamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.body {
  font-family: "Montserrat";
  background-color: #f2e9d8;
}
