
.garota{
	width:100px;
}

.pessoa{
	position:relative;
	text-align: center;
}

.main_t {
	background-color: gold;
	text-align: center;
}


.posicao_nome{
	left:7px;
}

.faixa_preta{
	background-color:black;
}

.descricao{
	width:200px;
	position:relative;
	left:543px;
}

.palavra_categoria{
	position:relative;
	left:600px;
	top:100px;
}

.categorias{
	display:flex;
	position:relative;
	top: 100px;
	left: 130px;
	flex-flow: row nowrap;
	justify-content: space-between;
	width:1000px;
}

.categoria_imagem{
	width:300px;
}

.nome_categoria{
	position:relative;
	left:120px;
}

.sec_t {
	position: relative;
	text-align: center;
	margin: 20px;
}

.image1 {
  width: 50%;
  height: auto;
  position: static;
}

.equipe {
	display: inline;
	text-align: center;
	padding-left: 50px;
	padding-right:50px;
}

.equipep {
	text-align: center;
	padding: 20px;
}

.equipef {
	width:50%;
	height: auto;
	position: static;
	text-align: center;
}

