.main_t {
	background-color: gold;
	text-align: center;

}

.sec_t {
	position: relative;
	text-align: center;
	margin: 20px;
}

.image1 {
  width: 50%;
  height: auto;
  position: static;
}

.equipe {
	display: inline;
	text-align: center;
	padding-left: 50px;
	padding-right:50px;
}

.equipep {
	text-align: center;
	padding: 20px;
}

.equipef {
	width:50%;
	height: auto;
	position: static;
	text-align: center;
}
