.main_t {
	background-color: gold;
	text-align: center;

}

.sec_t {
	position: relative;
	text-align: right;
	margin: 0px, 200px, 40px, 70px;
	position: relative;

}

.image1 {
  width: 50%;
  height: auto;
  white-space: inherit;
  position: relative;
   
}

.equipe {
	display: inline-block;
	text-align: center;
	padding-left: 50px;
	padding-right:50px;
}

.equipep {
	text-align: center;
	padding: 20px;
}

.equipef {
	width:5%;
	height: auto;
	position: sticky;
	text-align: center;
	margin-bottom: 34px;
}
